html(lang="en")
  head
    title Dnd Character Builder
  body
    h1 Let's set your ability score
      div
        p Character name = #{name}
        p Background= #{background}
        p Species= #{specie}
        p Subclass
        p Class=  #{mainClass}
        p Level = 1
        p Hitpoints = 10
        p Stats 
        div
          p Strength = #{strength}
          p Dexterity = #{dexterity}
          p Consitution = #{constitution}
          p Intelligence = #{intelligence}
          p Wisdom = #{wisdom}
          p Charisma = #{charisma}
          p Initative 
          p Speed 
          p Size 
          p Passive Perceptions
        div
          p Features 
          p Class Features 
          p Species Traits 
          p Equiptment Training and Proficency
          
    script(type='module' src='/static/js/abilityScore.js')

